.center {
  text-align: center;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.noline {
  margin-bottom: -30px;
}

.btnRemoveTag{
  margin-right: 0.3em;
}

.spanSelectTag {
  margin-right: 0.1em;
}

#unselectedTags {
  margin-top: 5px;
}
