.center {
  text-align: center;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.noline {
  margin-bottom: -30px;
}

.btnRemoveTag{
  margin-right: 0.2em;
  margin-left: 0.1em;
}

.spanSelectTag {
  margin-right: 0.1em;
}

#unselectedTags {
  margin-top: 5px;
}

.inlineText {
  width: 100%;
}

.btnStar {
  margin-right: 0.2em;
  margin-left: 0.1em;
}

.stared {
  color: red;
}
